<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847872203451-s914sfhr6093n280ihv1dbdeufcnpfp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847872203451-s914sfhr6093n280ihv1dbdeufcnpfp0</string>
	<key>API_KEY</key>
	<string>AIzaSyBb-sqzXvemEWUzlLk8M2odD0q5FjI6wgw</string>
	<key>GCM_SENDER_ID</key>
	<string>847872203451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCatalog</string>
	<key>PROJECT_ID</key>
	<string>rural4us</string>
	<key>STORAGE_BUCKET</key>
	<string>rural4us.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847872203451:ios:80494b927c5a506b8f279e</string>
</dict>
</plist>